<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
	<div class="container">
		<%= link_to "BookLand", root_path, class: "navbar-brand" %>
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Search"></input>		
			</div>
			<button class="btn btn-default" type="submit">
				<%= image_tag "search_ic.png", alt:"Search" , id:"search_ic" %>
			</button>
		</form>
		
			  <ul class="nav navbar-nav navbar-right">
				<li><%= link_to "LogIn", "#" %></li>
				<li><%= link_to "Help", help_path %></li>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Sign Up", signup_path %></li>
			</ul>
	</div>
</nav>